In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

url = 'https://data.seattle.gov/resource/87w5-fd6d.csv'
local = 'Seattle_Pet_Licenses.csv'

raw_pets = pd.read_csv(local)

In [42]:
name_counts = (pd.DataFrame(raw_pets['Animal\'s Name'].value_counts())
                           .reset_index())

In [43]:
name_counts

                         index  Animal's Name
0                         Lucy            566
1                        Bella            451
2                      Charlie            447
3                          Max            374
4                         Luna            361
5                        Molly            310
6                        Buddy            309
7                         Jack            302
8                        Daisy            300
9                       Sophie            291
10                      Oliver            289
11                        Lola            287
12                        Lily            280
13                      Maggie            277
14                      Stella            265
15                       Sadie            251
16                      Bailey            242
17                        Ruby            236
18                       Chloe            236
19                      Cooper            226
20                         Zoe            221
21                       Penny            213
22                      Gracie            211
23                       Henry            202
24                       Rosie            196
25                       Oscar            195
26                        Coco            192
27                       Scout            189
28                        Milo            188
29                      Pepper            187
...                        ...            ...
15765                    Lindo              1
15766                   Cactus              1
15767                Kitty Woo              1
15768                   Toutle              1
15769                   Pepers              1
15770                 Amendoim              1
15771               Sir Arthur              1
15772                   Benita              1
15773                    Hammy              1
15774                 Divebomb              1
15775                  Sultana              1
15776                  Muzette              1
15777                 Marcelle              1
15778                     Miha              1
15779                    Aiyla              1
15780                 Kandahar              1
15781                    Zhaan              1
15782              Tobin Zelly              1
15783                   Feddie              1
15784                    Higby              1
15785                    Keila              1
15786  Ezekiel Ross Gillanders              1
15787                    Padma              1
15788            Michat Szczyz              1
15789                   Matzoh              1
15790                 Kaly May              1
15791              Ruby Zinnia              1
15792                    Araya              1
15793                   Shadoe              1
15794                   Philly              1

[15795 rows x 2 columns]