In [6]:
import pandas as pd
pd.set_option('display.max_rows', 500)

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

url = 'https://data.seattle.gov/resource/87w5-fd6d.csv'
local = 'Seattle_Pet_Licenses.csv'

raw_pets = pd.read_csv(local)

#make the column names more user friendly
raw_pets.columns = (['license_issued_date', 'license_number', 
                     'animal_name', 'species','primary_breed', 
                     'secondary_breed','zip_code'])

raw_pets.license_issued_date = pd.to_datetime(raw_pets.license_issued_date)
#raw_pets['License Number'] = pd.to_numeric(raw_pets['License Number'])
#^alpha-numeric id
#raw_pets['ZIP Code'] = pd.to_numeric(raw_pets['ZIP Code']) 
#^need to examine null values

In [7]:
print(raw_pets.info())
raw_pets.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66042 entries, 0 to 66041
Data columns (total 7 columns):
license_issued_date    66042 non-null datetime64[ns]
license_number         66042 non-null object
animal_name            64685 non-null object
species                66042 non-null object
primary_breed          66042 non-null object
secondary_breed        22538 non-null object
zip_code               65884 non-null object
dtypes: datetime64[ns](1), object(6)
memory usage: 3.5+ MB
None

,license_issued_date,license_number,animal_name,species,primary_breed,secondary_breed,zip_code
0,2005-03-29,130651,Ozzy,Dog,"Dachshund, Standard Smooth Haired",NaN,98104
1,2009-12-23,898148,Jack,Dog,"Schnauzer, Miniature","Terrier, Rat",98107
2,2006-01-20,29654,Ginger,Dog,"Retriever, Golden","Retriever, Labrador",98117
3,2006-02-07,75432,Pepper,Cat,Manx,Mix,98103
4,2006-08-04,729899,Addy,Dog,"Retriever, Golden",NaN,98105

In [8]:
raw_pets.groupby(['species', 'primary_breed']).count()

                                                          license_issued_date  \
species   primary_breed
Cat       Abyssinian                                                       58
          American Bobtail                                                  4
          American Curl                                                     5
          American Shorthair                                              992
          American Wirehair                                                 2
          Angora                                                           10
          Asian Shorthair                                                   5
          Balinese                                                         40
          Bengal                                                           98
          Birman                                                           27
          Bombay                                                           45
          British Shorthair                                                52
          Burmese                                                          63
          California Spangled                                               2
          Chartreux                                                         8
          Chinese Domestic                                                  2
          Colourpoint Shorthair                                             4
          Cornish Rex                                                       3
          Devon Rex                                                        27
          Domestic Longhair                                              1916
          Domestic Medium Hair                                           3020
          Domestic Shorthair                                            13134
          Egyptian Mau                                                      9
          European Shorthair                                               10
          Exotic Shorthair                                                 20
          Himalayan                                                        73
          Japanese Bobtail                                                  5
          LaPerm                                                          752
          Maine Coon                                                      394
          Manx                                                            111
          Mix                                                             184
          Munchkin                                                          2
          Norwegian Forest                                                 66
          Ocicat                                                           10
          Oriental Shorthair                                               12
          Persian                                                         125
          Pixie-Bob                                                        53
          RagaMuffin                                                        5
          Ragdoll                                                         187
          Russian Blue                                                    171
          Savannah                                                          1
          Scottish Fold                                                    24
          Siamese                                                         977
          Siberian                                                         77
          Singapura                                                         6
          Snowshoe                                                         63
          Somali                                                           10
          Sphynx                                                            8
          Tiffany                                                           4
          Tonkinese                                                        13
          Toyger                                                            4
          Turkish Angora                                                    5
          Turkish Van                                                      17
Dog       Affenpinscher                                                     8
          Afghan Hound                                                     15
          Akbash                                                            3
          Akita                                                            74
          Alapaha Blue Blood Bulldog                                        1
          Alaskan Husky                                                    52
          Alaskan Klee Kai                                                 16
          Alaskan Malamute                                                128
          American Bandogge Mastiff                                         3
          American Blue Heeler                                             26
          American Eskimo                                                 142
          American Indian Dog                                               2
          Anatolian Shepherd                                               17
          Appenzeller Sennenhunde                                           1
          Argentine Dogo                                                    9
          Australian Cattle Dog                                           728
          Australian Kelpie                                                58
          Australian Shepherd                                            1184
          Australian Shepherd, Miniature                                  116
          Azores Cattle Dog                                                 1
          Barbet                                                            1
          Basenji                                                         140
          Basset Hound                                                    181
          Beagle                                                          744
          Bearded Collie                                                   23
          Beauceron                                                         6
          Belgian Malinois                                                 61
          Belgian Sheepdog                                                 23
          Belgian Tervuren                                                 24
          Bernese Mountain Dog                                            228
          Bichon Frise                                                    360
          Bloodhound                                                       15
          Boerboel                                                          4
          Bolognese                                                         3
          Border Collie                                                   991
          Borzoi                                                            9
          Bouvier des Flandres                                             23
          Boxer                                                           635
          Braque Francais Gascogne                                          1
          Braque Francais Pyrenees                                          2
          Briard                                                           15
          Brittany                                                        152
          Brittany, French                                                  1
          Bulldog                                                          75
          Bulldog, American                                               112
          Bulldog, English                                                209
          Bulldog, French                                                 463
          Bullmastiff                                                      39
          Canaan                                                            9
          Canadian Eskimo                                                   2
          Cane Corso                                                       18
          Carolina Dog                                                     15
          Catahoula Leopard dog                                           141
          Caucasian Mountain Dog                                            1
          Chihuahua, Long Coat                                            181
          Chihuahua, Short Coat                                          2134
          Chinese Crested                                                  27
          Chinese Shar-Pei                                                 91
          Chinook                                                          15
          Chow Chow                                                       186
          Cirneco dell Etna                                                 2
          Collie, Rough                                                   120
          Collie, Smooth                                                   36
          Coonhound                                                        61
          Coonhound, American English                                       2
          Coonhound, Black and Tan                                          7
          Coonhound, Bluetick                                               4
          Coonhound, Redbone                                               31
          Coonhound, Treeing Walker                                        27
          Coton de Tulear                                                  70
          Croatian Sheepdog                                                 1
          Cur, Black-Mouth                                                 21
          Cur, Mountain                                                     5
          Dachshund, Miniature Long Haired                                 51
          Dachshund, Miniature Smooth Haired                              350
          Dachshund, Miniature Wire Haired                                 10
          Dachshund, Standard Long Haired                                  88
          Dachshund, Standard Smooth Haired                               580
          Dachshund, Standard Wire Haired                                  45
          Dalmatian                                                        75
          Deerhound, Scottish                                               7
          Doberman Pinscher                                               177
          Dogue de Bordeaux                                                10
          Dutch Sheepdog                                                    1
          Dutch Shepherd                                                   10
          Dutch Smoushond                                                   1
          English Mastiff                                                  16
          English Shepherd                                                  7
          Entlebucher Mountain Dog                                         13
          Estrela Mountain Dog                                              1
          Eurasier                                                          2
          Feist                                                             3
          Fila Brasileiro                                                   1
          Finnish Lapphund                                                  3
          Finnish Spitz                                                    12
          Foxhound, American                                               16
          Foxhound, English                                                 6
          German Pinscher                                                   7
          German Shepherd                                                1259
          German Shepherd, King                                             3
          German Spitz                                                      3
          Great Dane                                                      167
          Great Pyrenees                                                  109
          Greater Swiss Mountain Dog                                       33
          Greyhound                                                       207
          Griffon Vendeen, Grand Basset                                     1
          Griffon Vendeen, Petit Basset                                     4
          Griffon, Brussels                                                51
          Griffon, Wirehaired Pointing                                     19
          Groenendael                                                       1
          Haldenstoever                                                     1
          Harrier                                                           7
          Havanese                                                        566
          Hound                                                           203
          Ibizan Hound                                                      7
          Icelandic Sheepdog                                                6
          Irish Wolfhound                                                  16
          Italian Greyhound                                               117
          Japanese Chin                                                    46
          Japanese Spitz                                                    1
          Kai Ken                                                           6
          Kangal                                                            1
          Karelian Bear Dog                                                12
          Keeshond                                                         43
          Kooikerhondje                                                     6
          Korean Jindo                                                     31
          Kuvasz                                                            7
          Lacy                                                              2
          Lagotto Romagnolo                                                10
          Landseer                                                          5
          Leonberger                                                       25
          Lhasa Apso                                                      231
          Lowchen                                                          10
          Maltese                                                         459
          Maremma Sheepdog                                                  1
          Mastiff                                                         107
          McNab Herding Dog                                                 3
          Mexican Hairless                                                  4
          Miniature Pinscher                                              280
          Mix                                                             418
          Mixed Breed, Large (over 44 lbs fully grown)                      8
          Mixed Breed, Medium (up to 44 lbs fully grown)                    6
          Munsterlander, Large                                              3
          Munsterlander,Small                                               1
          Neapolitan Mastiff                                                4
          Newfoundland                                                    123
          Norwegian Buhund                                                  2
          Norwegian Elkhound                                               39
          Norwegian Lundehund                                               3
          Old English Sheepdog                                             51
          Olde English Bulldogge                                           15
          Otterhound                                                        2
          Papillon                                                        152
          Pekingese                                                       120
          Perdiguero Gallego                                                1
          Perro de Presa Canario                                            2
          Peruvian Inca Orchid                                              2
          Pharaoh Hound                                                     7
          Plott Hound                                                      39
          Podenco Canario                                                   1
          Pointer                                                         124
          Pointer, German Shorthaired                                     214
          Pointer, German Wirehaired                                       31
          Pomeranian                                                      600
          Poodle, Miniature                                               929
          Poodle, Standard                                                490
          Poodle, Toy                                                     224
          Portuguese Podengo                                                3
          Portuguese Water Dog                                            163
          Pudelpointer                                                      1
          Pug                                                             819
          Puli                                                             10
          Pyrenean Shepherd                                                 2
          Retriever                                                       120
          Retriever, Chesapeake Bay                                        90
          Retriever, Curly Coated                                          12
          Retriever, Flat-Coated                                          119
          Retriever, Golden                                              2321
          Retriever, Labrador                                            6350
          Retriever, Nova Scotia Duck Tolling                              39
          Rhodesian Ridgeback                                             204
          Rottweiler                                                      266
          Royal Bahamian Potcake                                            1
          Saint Bernard                                                    60
          Saluki                                                           11
          Samoyed                                                          69
          Schipperke                                                       64
          Schnauzer, Giant                                                 19
          Schnauzer, Miniature                                            627
          Schnauzer, Standard                                              74
          Setter, English                                                  58
          Setter, Gordon                                                   19
          Setter, Irish                                                    38
          Shepherd                                                        519
          Shetland Sheepdog                                               179
          Shiba Inu                                                       356
          Shih Tzu                                                        828
          Shiloh Shepherd                                                   2
          Siberian Husky                                                  522
          Silken Windhound                                                  5
          Spaniel                                                         119
          Spaniel, American Cocker                                        529

In [ ]:
name_counts = (pd.DataFrame(raw_pets['Animal\'s Name'].value_counts())
                       .reset_index())
#name_counts.columns = ['Name', 'Count']

In [ ]:
name_counts